<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение почты</title>
</head>

<body>
<div style="font-family: Arial, sans-serif;">
    <h2>Здравствуйте, {{.Username}}!</h2>
    <p>Для завершения регистрации, пожалуйста, подтвердите свой адрес электронной почты, перейдя по следующей
        ссылке:</p>
    <p>
        <a href="https://localhost/verify?token={{.VerificationToken}}&email={{.VerificationLink}}" target="_blank">Подтвердить</a>
    </p>
    <p>Если вы не регистрировались на нашем сайте, просто проигнорируйте это письмо.</p>
    <p>С уважением,</p>
    <p>Команда нашего сайта.</p>
</div>
</body>

</html>
